@charset "utf-8";

#root {
  margin: 1em;
}

table#schedule {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 1.5em 0px;
}

table#schedule th, table#schedule td {
  border: 1px solid gray;
  padding: 0.5em;
  vertical-align: top;
}
