@charset "utf-8";

/* Common */

#root {
  margin: 1em;
}

/* Input Field */

div.inputField input {
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
}

div.inputField div.errors {
  margin-top: 0.5em;
}

div.inputField span.error {
  color: red;
}

div.inputField span.warning {
  color: orange;
}

div.inputField span.info {
  color: blue;
}

/* Schedule Table */

table#schedule {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 1.5em 0px;
}

table#schedule th, table#schedule td {
  border: 1px solid gray;
  padding: 0.5em;
  vertical-align: top;
}

table#schedule td.date, table#schedule td.start_time {
  white-space: nowrap;
}

table#schedule td del {
  color: gray;
}

/* Calendar */

table#calendar {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 1.5em 0px;
}

table#calendar col.first {
  border-left: 1px solid gray;
}

table#calendar col.not_first {
  border-left: 1px dashed gray;
}

table#calendar tr {
  height: 1em;
}

table#calendar th, table#calendar td {
  text-align: center;
  vertical-align: middle;
}

table#calendar th.date, table#calendar td.hour, table#calendar td.cell {
  border: 1px solid gray;
  padding: 0.5em;
}

table#calendar td.dummy {
  padding: 0;
}

table#calendar td.hour {
  border-left: none;
}

table#calendar td.cell {
  line-height: 1.5em;
}

table#calendar td.gap {
  background-color: whitesmoke;
}
