@charset "utf-8";

/* Common */

#root {
  margin: 1em;
}

/* Input Field */

div.inputField input {
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
}

div.inputField div.errors {
  margin-top: 0.5em;
}

div.inputField span.error {
  color: red;
}

div.inputField span.warning {
  color: orange;
}

div.inputField span.info {
  color: blue;
}

/* Schedule Table */

table#schedule {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 1.5em 0px;
}

table#schedule th, table#schedule td {
  border: 1px solid gray;
  padding: 0.5em;
  vertical-align: top;
}

table#schedule td del {
  color: gray;
}

/* Horizontal Calendar */

table#horizontalCalendar {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 1.5em 0px;
}

table#horizontalCalendar col.cell {
  width: 1.5em;
}

table#horizontalCalendar tr.first {
  border-top: 1px solid gray;
}

table#horizontalCalendar tr.not_first {
  border-top: 1px dashed gray;
}

table#horizontalCalendar th, table#horizontalCalendar td {
  padding: 0.5em;
  vertical-align: top;
}

table#horizontalCalendar th, table#horizontalCalendar td.date, table#horizontalCalendar td.cell {
  border: 1px solid gray;
}

table#horizontalCalendar td.date {
  white-space: nowrap;
}

table#horizontalCalendar td.gap {
  background-color: whitesmoke;
}

/* Vertical Calendar */

table#verticalCalendar {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 1.5em 0px;
}

table#verticalCalendar col.first {
  border-left: 1px solid gray;
}

table#verticalCalendar col.not_first {
  border-left: 1px dashed gray;
}

table#verticalCalendar tr {
  height: 1em;
}

table#verticalCalendar th, table#verticalCalendar td {
  text-align: center;
  vertical-align: middle;
}

table#verticalCalendar th.date, table#verticalCalendar td.hour, table#verticalCalendar td.cell {
  border: 1px solid gray;
  padding: 0.5em;
}

table#verticalCalendar td.dummy {
  padding: 0;
}

table#verticalCalendar td.hour {
  border-left: none;
}

table#verticalCalendar td.cell {
  line-height: 1.5em;
}

table#verticalCalendar td.gap {
  background-color: whitesmoke;
}
